
.container {
    /*height: 100vh;*/
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.oauthContainer {
    margin-bottom: 20px;
}

.oauthButton {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.oauthButton:hover {
    background-color: #005bb5;
}

.separator {
    margin: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.submitButton {
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
}

.submitButton:hover {
    background-color: #005bb5;
}

.error {
    color: red;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .container {
        max-width: 500px;
    }

    .h1 {
        font-size: 2rem;
    }

    .oauthButton, .submitButton {
        font-size: 1.1rem;
    }

    .input {
        font-size: 1.1rem;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 600px;
    }

    .h1 {
        font-size: 2.5rem;
    }

    .oauthButton, .submitButton {
        font-size: 1.2rem;
    }

    .input {
        font-size: 1.2rem;
    }
}
